<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
    <title>{{title}}</title>
</head>
<body>

     {% if messages %}
        {%  for message in  messages  %}
           <div class="px-2 py-5 ml-20 mr-20 {% if message.tags == 'success' %}bg-red-500{% endif %} ">
            {{message}}
           </div>
        {% endfor %}
    {% endif %}

  <div class=" grid grid-cols-3 h-20 gap-10 mr-20 ml-20 text-center  items-center bg-teal-100" >

    <h1 class="text-xl font-semibold text-gray-700">PARTICIPENT NAME</h1>
<h1 class="text-xl font-semibold text-gray-700">EMAIL</h1>
<h1 class="text-xl font-semibold text-gray-700">EVENTS</h1>


</div>
<div class=" divide-y divide-gray-300 mr-20 ml-20 bg-white mb-20">
{% for e in all  %}
<div class="grid grid-cols-3 h-20 gap-10 items-center text-center">
    <div class="flex gap-2 items-center justify-center" >
        <p class="text-center">{{e.name}}</p>
    <a href="{% url "participant_update" e.id %}" class="px-2 py-1 bg-green-500">EDIT</a>
     <form action=" {% url "participant_delate" e.id %}" method='POST'>
    {% csrf_token %}
    <button type="submit" class="px-2 py-1 bg-red-500" >DELETE</button>
   </form>
    </div>
    <span class="text-center">{{e.email}}</span>
    <p>{{e.events}}</p>
    
</div>

{% endfor %}


</div>
     
</body>
</html>